/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');

/* Root Variables */
:root {
    --base-color: #FFFFFF;
    --primary-color: #FF5400;
    --primary-text-color: #424247;
    --highlight-text-color: #131318;
    --secondary-text-color: #5A5A5D;
}




/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Body styles */
body {
    background-color: var(--base-color);
    font-family: "Mulish", serif;
    scroll-behavior: smooth;
}

/* Wrapper for layout */
.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Common codes */
h1,h2{
    font-weight: 800;
}

.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary{
    background-color: var(--primary-color);
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    color: var(--base-color);
    font-family: "Mulish", serif;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: green;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);

}

/* -------------------------------------------------------------------------------------
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
_____________________________________________________________________________________*/

/* Navigation Styles */
header {
    margin-bottom: 3rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav-icon {
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-icon img {
    width: 3rem;
    height: 3.5rem;
}

.nav-icon h1 {
    font-size: 2rem;
    color: var(--highlight-text-color);
}

.nav-icon span {
    color: var(--primary-color);
}

.menu-hamburger {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--primary-text-color);
    display: none;
}

.nav-lists {
    display: flex;
    gap: 22px;
}

.nav-lists li a {
    color: var(--primary-text-color);
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-lists li:first-child a {
    color: var(--primary-color);
}

.nav-lists li a:hover {
    color: var(--primary-color);
}

/* Banner Styles */
.banner-container {
    background: linear-gradient(
        rgba(19, 19, 24, 0.8),
        rgba(19, 19, 24, 0)
    ), url(Images/banner.png);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-bottom: 20px;
    flex-direction: column;
    text-align: center;
}

.banner__texts {
    color: var(--base-color);
    max-width: 675px;
    max-height: 155px;
}

.banner__texts h1 {
    font-size: 3rem;
    font-weight: 800;
}

.banner__texts p {
    font-size: 1rem;
    font-weight: normal;
}

.banner__inputs {
    margin-top: 3rem;
    padding: 1rem;
    gap: 1.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 8px;
}

.banner__input-wrapper {
    position: relative;
    width: 175px;
    height: 52px;
    background: var(--base-color);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}

.banner__input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 1rem;
    outline: none;
    padding-left: 1rem;
    padding-right: 1rem;
}


.banner__input::placeholder {
    color: rgba(19, 19, 24, 0.5);
    font-size: 1rem;
    position: absolute;
    left: 15px;
}

.banner__input-wrapper i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: rgba(19, 19, 24, 0.7);
    pointer-events: none;
}



.banner__input-wrapper.last-input{
    background: var(--primary-color);

}

.last-input .banner__input::placeholder{
    color: var(--base-color);
    right: 35px;
    left: auto;
}

.last-input i{
    color: var(--base-color);
    left: 35px;
    right: auto;

}

/* Our tour plans styles */
#popular-tours{
    margin-top: 75px;
}

.popular-tours-wrapper{
    display: flex;
    justify-content: space-between;
}

.popular-tours-article{
    width: 550PX;
    height: 465PX;
}

.popular-tours-article h2{
    font-size: 40px;
    color: var(--highlight-text-color);
    padding-bottom: 24px;
}

.popular-tours-article p{
    font-size: 16px;
    color: var(--secondary-text-color);
    padding-bottom: 1.5rem;
    text-align: justify;
}

.popular-tours-lists{
    padding-bottom: 1rem;
    padding-left: 20px;
}

.popular-tours-lists ul li{
    list-style: disc;
    padding-bottom: 16px;
    color: var(--secondary-text-color);
}

.popular-tours-img{
    width: 540px;
    height: 550px;
}

.popular-tours-article button{
    margin-top: 8px;
}

/* choose your destination section styles starts here  */

.choose-destination-wrapper{
    width: 100%;
    height: auto;
    margin-top: 100px;
}
.choose-destination__texts{
    flex-direction: column;
    text-align: center;
}

.choose-destination__texts h2{
    color: var(--highlight-text-color);
    max-width: 478px;
    font-size: 40px;
    padding-bottom: 24px;
}

.choose-destination__texts p{
    color: var(--secondary-text-color);
    max-width: 643px;
    margin-bottom: 3rem;
}

.choose-destination__images {
    display: grid;
    text-align: center;
    gap: 24px;
    grid-template-areas:
        'image-1 image-1 image-2 image-2'
        'image-3 image-4 image-4 image-5'
        'image-6 image-7 image-7 image-7';
}


.choose-destination__img-1,
.choose-destination__img-2,
.choose-destination__img-3,
.choose-destination__img-4,
.choose-destination__img-5,
.choose-destination__img-6,
.choose-destination__img-7 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    color: var(--base-color);
    font-size: 28px;
    font-weight: 800;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.choose-destination__img-1 { grid-area: image-1; background-image: url(Images/Maldives.png); }
.choose-destination__img-2 { grid-area: image-2; background-image: url(Images/Indonesia.png); }
.choose-destination__img-3 { grid-area: image-3; background-image: url(Images/Srilanka.png); }
.choose-destination__img-4 { grid-area: image-4; background-image: url(Images/North-America.png); }
.choose-destination__img-5 { grid-area: image-5; background-image: url(Images/Kashmir.png); }
.choose-destination__img-6 { grid-area: image-6; background-image: url(Images/Bangladesh.png); }
.choose-destination__img-7 { grid-area: image-7; background-image: url(Images/Bandarban.png); }

.grid-img {
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.grid-img:hover {
    transform: scale(1.005);
    color: yellow;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* choose your destination section styles ends here  */

/* --------------------------------------------------------------------------------------------
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
______________________________________________________________________________________________ */

/* Media query for screens below 600px */

@media only screen and (max-width: 600px) {
    .wrapper {
        max-width: 335px;
        margin: 0 auto;
        padding: 0 20px;
    }

    /* navigation style responsiveness */
    .nav-container {
        width: 100%;
        height: 64px;
        margin: 0;
        padding: 0;
    }

   .nav-icon img{
    width: 28px;
    height: 33px;
   }

    .nav-icon h1 {
        font-size: 21px;
    }

    .nav-lists {
        display: none;
    }

    .menu-hamburger {
        display: block;
        font-size: 24px;
    }

/* banner style responsiveness */

    .banner-container {
        width: 100%;
        height: auto;

        background: linear-gradient(
            rgba(19, 19, 24, 0.8),
            rgba(19, 19, 24, 0)
        ), url(Images/banner.png);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 16px;
        flex-direction: column;
        text-align: center;
    }

    .banner__texts {
        max-width: 304px;
        max-height: 99px;
        margin-bottom: 1.8rem;
        padding: 2rem 1rem;
        text-align: center;
    }

    .banner__inputs {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        width: 80%;

    }

    .banner__texts h1 {
        font-size: 22px;
    }

    .banner__texts p {
        font-size: 14px;
        padding-top: 0.5rem;
    }

    .banner__input-wrapper {
        width: 100%;
        margin-bottom: 1rem;
    }

    .last-input .banner__input::placeholder{
        right: 55px;
        left: auto;
    }
    
    .last-input i{
        left: 55px;
        right: auto;
    
    }
/* popular tours section responsiveness */
    .popular-tours-wrapper{
        width: 100%;
        flex-direction: column;
        gap: 24px;
        
    }

    .popular-tours-article{
        width: 100%;
        height: auto;
    }
    .popular-tours-img{
        width: 100%;
        height: auto;
    }

    .popular-tours-img img{
        width: 100%;
        height: auto;
    }

   
}
