/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');

/* Root Variables */
:root {
    --base-color: #FFFFFF;
    --primary-color: #FF5400;
    --highlight-text-color: #131318;
    --primary-text-color: #5A5A5D;
    --secondary-text-color: #424247;

    --primary-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    --hover-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3);


}




/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Body styles */
body {
    background-color: var(--base-color);
    font-family: "Mulish", serif;
    scroll-behavior: smooth;
}

/* Wrapper for layout */
.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Common codes */
h1,h2{
    font-size: 40px;
    font-weight: 800;
    color: var(--highlight-text-color);
}

p{
    font-size: 16px;
    font-weight: normal;
    color: var(--primary-text-color);
}

.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary{
    background-color: var(--primary-color);
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    color: var(--base-color);
    font-family: "Mulish", serif;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}


.btn-primary:hover{
    background-color: green;
    box-shadow: var(--hover-box-shadow)

}

/* -------------------------------------------------------------------------------------
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
_____________________________________________________________________________________*/

/* Navigation Styles */
header {
    margin-bottom: 3rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav-icon {
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-icon img {
    width: 3rem;
    height: 3.5rem;
}

.nav-icon h1 {
    font-size: 2rem;
}

.nav-icon span {
    color: var(--primary-color);
}

.menu-hamburger {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--secondary-text-color);
    display: none;
}

.nav-lists {
    display: flex;
    gap: 22px;
}

.nav-lists li a {
    color: var(--secondary-text-color);
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-lists li:first-child a {
    color: var(--primary-color);
}

.nav-lists li a:hover {
    color: var(--primary-color);
}

/* Banner Styles */
.banner-container {
    background: linear-gradient(
        rgba(19, 19, 24, 0.8),
        rgba(19, 19, 24, 0)
    ), url(Images/banner.png);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-bottom: 20px;
    flex-direction: column;
    text-align: center;
}

.banner__texts {
    max-width: 675px;
    max-height: 155px;
}

#banner-header{
    font-size: 3rem;
    font-weight: 800;
    color: var(--base-color);
    margin-bottom: 24px;
}

#banner-paragraph{
    font-size: 1rem;
    font-weight: normal;
    color: var(--base-color);
}

.banner__inputs {
    margin-top: 3rem;
    padding: 1rem;
    gap: 1.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 8px;
}

.banner__input-wrapper {
    position: relative;
    width: 175px;
    height: 52px;
    background: var(--base-color);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}

.banner__input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 1rem;
    outline: none;
    padding-left: 1rem;
    padding-right: 1rem;
}


.banner__input::placeholder {
    color: rgba(19, 19, 24, 0.5);
    font-size: 1rem;
    position: absolute;
    left: 15px;
}

.banner__input-wrapper i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: rgba(19, 19, 24, 0.7);
    pointer-events: none;
}



.banner__input-wrapper.last-input{
    background: var(--primary-color);

}

.last-input .banner__input::placeholder{
    color: var(--base-color);
    right: 35px;
    left: auto;
}

.last-input i{
    color: var(--base-color);
    left: 35px;
    right: auto;

}

/* Our tour plans styles */
#popular-tours{
    margin-top: 75px;
}

.popular-tours-wrapper{
    display: flex;
    justify-content: space-between;
}

.popular-tours-article{
    width: 550PX;
    height: 465PX;
}

.popular-tours-article h2{
    padding-bottom: 24px;
}

.popular-tours-article p{
    padding-bottom: 1.5rem;
    text-align: justify;
}

.popular-tours-lists{
    padding-bottom: 1rem;
    padding-left: 20px;
}

.popular-tours-lists ul li{
    list-style: disc;
    padding-bottom: 16px;
    color: var(--primary-text-color);
}

.popular-tours-img{
    width: 540px;
    height: 550px;
}

.popular-tours-article button{
    margin-top: 8px;
}

/* choose your destination section styles starts here  */

.choose-destination-wrapper{
    width: 100%;
    height: auto;
    margin-top: 100px;
}
.choose-destination__texts{
    flex-direction: column;
    text-align: center;
}

.choose-destination__texts h2{
    max-width: 478px;
    padding-bottom: 24px;
}

.choose-destination__texts p{
    max-width: 643px;
    margin-bottom: 3rem;
    color: var(--highlight-text-color);
}

.choose-destination__images {
    display: grid;
    text-align: center;
    gap: 24px;
    grid-template-areas:
        'image-1 image-1 image-2 image-2'
        'image-3 image-4 image-4 image-5'
        'image-6 image-7 image-7 image-7';
}


.grid-img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    color: var(--base-color);
    font-size: 28px;
    font-weight: 800;
    border-radius: 10px;
    box-shadow: var(--primary-box-shadow);
    transition: transform 0.3s ease;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.grid-img:hover {
    transform: scale(1.005);
    color: yellow;
    box-shadow: var(--hover-box-shadow);
}

.choose-destination__img-1 { grid-area: image-1; background-image: url(Images/Maldives.png); }
.choose-destination__img-2 { grid-area: image-2; background-image: url(Images/Indonesia.png); }
.choose-destination__img-3 { grid-area: image-3; background-image: url(Images/Srilanka.png); }
.choose-destination__img-4 { grid-area: image-4; background-image: url(Images/North-America.png); }
.choose-destination__img-5 { grid-area: image-5; background-image: url(Images/Kashmir.png); }
.choose-destination__img-6 { grid-area: image-6; background-image: url(Images/Bangladesh.png); }
.choose-destination__img-7 { grid-area: image-7; background-image: url(Images/Bandarban.png); }

/* choose your destination section styles ends here  */

/* why to choose us style starts here  */
.choose-us__wrapper{
    margin-top: 100px;
    position: relative;
    height: auto;
    overflow: hidden;
    padding-bottom: 600px;
}
.choose-us__texts{
    flex-direction: column;
    text-align: center;
}

.choose-us__texts h2{
    margin-bottom: 24px;
}

.choose-us__texts p{
    max-width: 643px;
    color: var(--highlight-text-color);
}

.choose-us__cards-wrapper{
    position: relative;
    margin-top: 48px;
    width: 100%;
    height: auto;
}

.choose-us__card{
    width: 561px;
    height: 284px;
    border: none;
    border-radius: 16px;
    box-shadow: var(--primary-box-shadow);
    transition: transform 0.3s ease, color 0.3s ease;;
    cursor: pointer;
}

.choose-us__card:hover{
    transform: scale(1.005);
    box-shadow: var(--hover-box-shadow);
}

.card-1{
    background-color: #FFFBF7;
    position: absolute;
    right: auto;
    top: 0;
    left: 0;
}
.card-2{
    background-color: #F4FCFE;
    position: absolute;
    left: auto;
    right: 0;

}
.card-3{
    background-color: #FEF5F5;
    position: absolute;
    top: 308px;
    bottom: 0;
    left: 25%;
}

.card-contents-wrapper{
    padding: 32px 55px 32px 32px;
}

.card-contents-wrapper img{
    width: 64px;
    height: 64px;
    margin-bottom: 32px;
}

.card-contents-wrapper h3{
    font-size: 24px;
    font-weight: 800;
    color: var(--highlight-text-color);
    margin-bottom: 16px;
}

.card-contents-wrapper p{
    max-width: 486px;
}
/* why to choose us style ends here  */

/* Deals and discount section styles starts here  */

.deals-discount-wrapper{
    margin-top: 95px;
    margin-bottom: 48px;
}


.deals-discount__texts{
    flex-direction: column;
    text-align: center;
}
.deals-discount__texts h2{
    margin-bottom: 24px;
}

.deals-discount__texts p{
    max-width: 643px;
    color: var(--highlight-text-color);
}

.deals-discount-background-wrapper {
    margin-top: 48px;
    padding: 55px;
    border: none;
    border-radius: 16px;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    box-shadow: var(--primary-box-shadow);
    position: relative;
    overflow: hidden;
}


.deals-discount-background-wrapper {
    background-image: url(Images/Deals1.png);
}

.deals-discount-background-wrapper.wrapper-2{
    justify-content: flex-start;
    background-image: url(Images/deals2.png);
}


.deals-discount-card-wrapper{
    width: 579px;
    height: auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 16px;
}

.deals-discount-card-wrapper h3{
    color: var(--highlight-text-color);
    font-size: 24px;
    font-weight: 800px;
    margin-bottom: 16px;
}

.deals-discount-card-wrapper>p{
    max-width: 425px;
    margin-bottom: 16px;
}

.deals-discount-card-wrapper h4{
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 24px;
}

.card-top-icons{
    max-height: 24px;
    justify-content: space-between;
    max-width: 386px;
    margin-bottom: 26px;
}

.card-top-icon{
    gap: 8px;
}


.fw-icon{
    color: var(--primary-color);
}


.btn-packages {
    height: auto;
    width: 100%;
    position: relative;
}

.packages-btn {
    width: 210px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Glimpse section styles start  */

#glimpse-section {
    position: relative;
    margin-top: 150px;
    margin-bottom: 100px;
}

.glimpse__texts{
    height: auto;
}
.glimpse__texts h2 {
    max-width: 448px;
    height: 120px;
    margin-bottom: 24px;
    font-size: 40px;
}

.glimpse__texts p {
    max-width: 532px;
    height: 52px;
    margin-bottom: 24px;
}

.glimpse__texts>ul{
    padding-left: 20px;
}

.glimpse__texts > ul > li {
    list-style:disc;
    max-width: 518px;
    height: 52px;
    margin-bottom: 16px;
    color: var(--highlight-text-color);
}

.btn-see-more{
    width: 174px;
    height: 52px;
    margin-top: 16px;
}

.glimpse-wrapper{
    display: flex;
    gap: 28px;
    justify-content: space-between;
}

.glimpse-video{

    position: relative;

    width: 610px;
    height: 424px;

    background-size: cover;
    background-position: center;
    overflow: hidden;

    border: none;
    border-radius: 16px;

    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    padding: 24px;
    background-image: url(Images/MountainBangladesh.png);
}

.glimpse-video>p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--base-color);
    font-size: 24px;
    font-weight: bold;
    width: 276px;
    height: 72px;
    text-align: center;
    /* margin-bottom: 107px; */
}

.flexible-container-outer{
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
}

.flexible-container-inner{
    color: var(--base-color);
}
.flexible-container-inner>.exception>p{
    color: var(--base-color);
}
.left-contents{
    width: 66px;
    height: 24px;
    justify-content: space-between;
}

.right-contents{
    width: 104px;
    height: 24px;
    justify-content: space-between;
}

.progress-bar {
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.watched {
    width: 20%;
    height: 100%;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px 0 0 8px;
}

.vdo-controller-wrapper{
    position: absolute;
    top: auto;
    right: auto;
    bottom: 24px;
    left: 12px;
    width: 100%;
    padding-right: 24px;
}

/* --------------------------------------------------------------------------------------------------
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
______________________________________________________________________________________________ */

/* Media query for screens below 600px */

@media only screen and (max-width: 600px) {
    .wrapper {
        max-width: 335px;
        margin: 0 auto;
        padding: 0 20px;
    }

    /* navigation style responsiveness */
    .nav-container {
        width: 100%;
        height: 64px;
        margin: 0;
        padding: 0;
    }

   .nav-icon img{
    width: 28px;
    height: 33px;
   }

    .nav-icon h1 {
        font-size: 21px;
    }

    .nav-lists {
        display: none;
    }

    .menu-hamburger {
        display: block;
        font-size: 24px;
    }

/* banner style responsiveness */

    .banner-container {
        width: 100%;
        height: auto;

        background: linear-gradient(
            rgba(19, 19, 24, 0.8),
            rgba(19, 19, 24, 0)
        ), url(Images/banner.png);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 16px;
        flex-direction: column;
        text-align: center;
    }

    .banner__texts {
        max-width: 304px;
        max-height: 99px;
        margin-bottom: 1.8rem;
        padding: 2rem 1rem;
        text-align: center;
    }

    .banner__inputs {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        width: 80%;

    }

    .banner__texts h1 {
        font-size: 22px;
    }

    .banner__texts p {
        font-size: 14px;
        padding-top: 0.5rem;
    }

    .banner__input-wrapper {
        width: 100%;
        margin-bottom: 1rem;
    }

    .last-input .banner__input::placeholder{
        right: 55px;
        left: auto;
    }
    .last-input i{
        left: 55px;
        right: auto;
    }
/* popular tours section responsiveness */
    .popular-tours-wrapper{
        width: 100%;
        flex-direction: column;
        gap: 24px;
    }

    .popular-tours-article{
        width: 100%;
        height: auto;
    }
    .popular-tours-img{
        width: 100%;
        height: auto;
    }

    .popular-tours-img img{
        width: 100%;
        height: auto;
    }

    /* choose your destination section responsiveness starts here  */
    .choose-destination-wrapper{
        margin-top: 24px;
    }
    .choose-destination__texts{
        width: 100%;
        height: auto;
    }

    .choose-destination__texts h2{
        padding-bottom: 16px;
    }

    .choose-destination__texts p{
        margin-bottom: 16px;
    }

    .choose-destination__texts h2{
        font-size: 20px;
    }

    .choose-destination__texts p{
        font-size: 16px;
        max-width: 643px;
    }

    .choose-destination__images {
        gap: 16px;
        grid-template-areas:
            'image-1'
            'image-2'
            'image-3'
            'image-4'
            'image-5'
            'image-6'
            'image-7';
    }

    .grid-img{
       width: 100%;
        height: 175px;
    }
    /* choose your destination section responsiveness ends here  */

    /* why to choose us section responsiveness starts here */
    
    .choose-us__wrapper {
        margin-top: 24px;
        height: auto;
        padding-bottom: 24px;
    }

    .choose-us__texts h2 {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .choose-us__texts p {
        font-size: 14px;
    }

    .choose-us__cards-wrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .choose-us__card {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 289px;
    }

    .card-contents-wrapper img {
        width: 48px;
        height: 48px;
        margin-bottom: 16px;
    }

    .card-contents-wrapper h3 {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .card-contents-wrapper p {
        font-size: 14px;
        max-width: 271px;
    }

    /* deals and discount (packages) section styles starts below  */
    .deals-discount-wrapper{
        margin-top: 0;
        margin-bottom: 24px;
    }

    .card-top-icons{
        flex-wrap: wrap;
        max-width: 218px;
        max-height: 64px;
        margin-bottom: 16px;
    }


    .deals-discount__texts h2{
        font-size: 20px;
        margin-bottom: 16px;
    }

    .deals-discount__texts p{
        max-width: 309px;
        font-size: 14px;
    }
    .deals-discount-background-wrapper {
        margin-top: 24px;
        padding: 187px 16px 16px 16px;
        background-size: cover;
        background-position: center;
    }

    .deals-discount-background-wrapper.wrapper-2::before {
        background-size: cover;
        background-position: center;
    }

    .deals-discount-card-wrapper{
        width: 303px;
        height: auto;
        padding: 24px;
    }

    .deals-discount-card-wrapper h3{
        font-size: 20px;
        margin-top: 16px;
        margin-bottom: 8px;
    }

    .deals-discount-card-wrapper>p{
        max-width: 254px;
        max-height: 42px;
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 12px;
    }

    .deals-discount-card-wrapper h4{
        font-size: 16px;
        margin-bottom: 16px;
    }

    .card-top-icon{
        margin-bottom: 16px;
    }
    .book-now{
        width: 130px;
        height: 40px;
        font-size: 18px;
        position: relative;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .packages-btn{
       display: none;
    }
    /* details and discount (packages) section styles ends below  */
}